{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <main class="container bg-light">
        <nav>
            <h1 class="text-center" id="mainTitle"
            {{ stimulus_controller('symfony/ux-typed', {
                strings: [
                    'Bienvenue sur l\'annuaire de votre famille',
                    'Bienvenue sur l\'annuaire de vos amis',
                    'Bienvenue sur l\'annuaire de vos contacts professionnels',
                    'Bienvenue sur l\'annuaire de tout le monde !!',
                    'Super Annuaire',
                ],
                loop: false,
                showCursor: false,
            }) }}
            ></h1>
        </nav>
        <h1 class="text-center mt-5 secondTitle">Joyeux Anniversaire !!</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Numéro de téléphone</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in birthdayPeople %}
                    <tr>
                        <td>{{ contact.firstname }}</td>
                        <td>{{ contact.lastname }}</td>
                        <td>{{ contact.phoneNumber }}</td>
                        <td>{{ contact.email }}</td>
                        <td class="d-flex justify-content-evenly">
                            <a href="{{ path ("app_contact_show", {id: contact.id})}}" class="btn btn-primary">Voir</a>
                            <form action="{{ path ("app_contact_delete", {id: contact.id})}}" method="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                <input type="submit" value="Supprimer" class="btn btn-danger">
                            </form>
                        </td>
                    </tr>
                    {% else %}
                        
                        <p>Il n'y a pas de contact</p>
                    
                {% endfor %}
            </tbody>
        </table>

        <hr>
            <h1 class="text-center mt-5 secondTitle">Recherche</h1>

            {{ component('search_contact') }}
        <hr>

        <h1 class="text-center mt-5 secondTitle">Liste des contacts</h1>
        <p>
            <a href="{{path('app_contact_create')}}" class="btn btn-secondary">Créer nouveau contact</a>
        </p>

        {% for group in groups %}

            {% if group.name != "Famille" or is_granted('ROLE_ADMIN')%}
                
                <h2 class="mt-4 sectionTitle" data-bs-toggle="collapse" 
                data-bs-target="#table{{group.name}}" 
                aria-expanded="false" 
                aria-controls="table{{group.name}}">{{group.name}}
                </h2>
                <hr>
                <div class="collapse" id="table{{group.name}}">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Numéro de téléphone</th>
                                <th>Email</th>
                                <th>Société</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contact in group.contacts %}
                                <tr>
                                    <td>{{ contact.firstname }}</td>
                                    <td>{{ contact.lastname }}</td>
                                    <td>{{ contact.phoneNumber }}</td>
                                    <td>{{ contact.email }}</td>
                                    <td>{{ contact.company.name }}</td>
                                    <td class="d-flex justify-content-evenly">
                                        <a href="{{ path ("app_contact_show", {id: contact.id})}}" class="btn btn-primary">Voir</a>
                                        <form action="{{ path ("app_contact_delete", {id: contact.id})}}" method="POST">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}">
                                            <input type="submit" value="Supprimer" class="btn btn-danger">
                                        </form>
                                    </td>
                                </tr>
                                {% else %}
                                    
                                    <p>Il n'y a pas de contact</p>
                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            {% endif %}

            
        {% endfor %}

        
    </main>
{% endblock %}
